@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap");

* {
  background-color: #eff8fe;
  color: #25445c;
  font-family: "Recursive", sans-serif;
  font-size: 14px;
}
